*, *:before, *:after {
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
    background: #CFD5D5;
    color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    overflow: auto;
    background: #EAEAEA;
}
main > * {
    margin-top: 1em;
}
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #193E54;
    color: #EAEAEA;
    width: 100%;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
    padding: .5em 0;
}
button {
    padding: .5em;
    font-size: 1.2em;
    border: 1px solid #333333;
    border-radius: 2px;
    background: #3A7CB4;
    color: #EAEAEA;
    font-size: initial;
}
input, textarea {
    border: 1px solid #333333;
    background: #CFD5D5;
    font-size: 1.1em;
    padding: .1em;
}

.tile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 5px;
    font-size: 1.2em;
    box-shadow: -2px 2px 4px #242424;
    border-radius: 2px;
    background: #EAEAEA;
    margin: .2em;
}

.tile:hover {
    background: #CFD5D5;
}

.tile-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    color: rgb(184, 53, 53);
    padding: .2em;
    border: 0;
    background: 0;  
    font-size: 1.6em;
}

.edit-button {
    color: #242424;
    padding: .2em;
    border: 0;
    background: 0; 
    font-size: 1.6em;
}
.add-button {
    color: #3D8941;
    padding: .2em;
    border: 0;
    background: 0; 
    font-size: 1.6em;
}
.big-button {
    font-size: 1.4em;
}

