.schedule-tile {
    max-width: 350px;
}
.schedule-tile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2em;
}
.new-schedule-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-schedule-form input, .new-schedule-form textarea, .new-schedule-form label {
    margin-bottom: 1em;
}