.employee-job-display {
    font-size: .8em;
    overflow: hidden;
    word-wrap: none;
}
.employee-tile {
    max-width: 400px;
}
.employee-tile-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.employee-tile-info > span {
    padding: .1em;

}
.employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
