.modal-full {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
}
.modal-full-content {
    position: relative;
    top: 20%;
    border: 2px solid #242424;
    border-radius: 2px;
    background: white;
    padding: 40px 20px;
    height: fit-content;
    max-width: 90%;
}
.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    padding: 10px;
    color: #980000;
    font-size: 1.4em;
}