.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar a {
    font-size: initial;
    color: #EAEAEA;
    text-decoration: none;
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
